*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #111;
  /* Set default text color to black */
}

body {
  font-family: 'Jost', sans-serif;
}

.cursor,
.hand {
  position: fixed;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: transform .1s;
}

.cursor {
  background: #FF7B00;
  top: 0;
  width: 20px;
  height: 20px;
  z-index: 999;
}

.hand {
  background: #FF7B00;
  top: 50%;
  width: 150px;
  height: 150px;
  z-index: 9999;
  display: grid;
  place-content: center;
  opacity: 0;

  svg {
    width: 80px;
  }
}


#background-animation {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -2;
  width: 100%;
  height: 100%;
}


.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: translateZ(-3px) scale(1.5);
}

#b-icon-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 6% 0% 0% 0%;
}

#b-icon-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 22% 0% 0% 60%;
}

#b-icon-3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 45% 60% 0% 0%;
}

#b-icon-4 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 22% 0% 0% 60%;
}

#b-icon-5 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 22% 60% 0% 0%;
}

#b-icon-6 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20% 0% 0% 60%;
}

#b-icon-7 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20% 60% 0% 0%;
}

:root {
  --primary-color: #FF7B00;
  --text-color: #111;
  --font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 24px 12%;
  justify-content: space-between;
  align-items: center;
  z-index: +999;

  /* background-color: #fff; */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.logo {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo-text {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 500;
  text-decoration: none;
  color: #2e2e2e;
}

.nav-menu {
  display: flex;
  gap: 16px;
}

.nav-item-list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link:hover {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: 400;
  
}

.media-list {
  display: flex;
  gap: 48px;
}

.media-icon {
  fill: var(--text-color);
  width: 32px;
  height: 32px;
}

.media-icon:hover {
  fill: var(--primary-color);
}


@media screen and (max-width: 768px) {
  .navbar {
    padding: 24px;
    flex-direction: column;
    align-items: center;
  }

  .nav-item-list {
    padding-top: 8px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    gap: 16px;
  }

  .nav-text {
    width: auto;
    padding: 7px 10px;
    font-size: 18px !important;
  }

  .media {
    width: auto;
    gap: 16px;
  }

  .nav-media-logo {
    width: 24px;
    height: 24px;
    gap: 8px;
  }

  #logo-name {
    font-size: 24px;
    text-align: center;
  }

  .logo {
    width: auto;
    gap: 16px;
  }
}


/* Heropage */

.landing-page {
  display: flex;
  width: 85%;
  /* padding-left: 64px; */
  padding: 6% 12% 5% 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.landing-contant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.hero-text {
  align-self: stretch;
  color: var(--black, #111);
  font-family: Jost;
  font-size: var(--HeroText);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
  /* line-height: 0; */
}

.portfolio {
  color: var(--Orange, #FF7B00);
  font-family: Fredericka the Great;
  font-size: var(--HeroText);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero-image {
  height: 100%;
  width: 100%;
  align-self: stretch;
  object-fit: contain;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
  /* box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.25); */
}


/* About Section */


.about-text {
  display: inline-flex;
  padding: 10% 64px 10% 12%;
  align-items: center;
}

.about-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.about-bold-black {
  width: 603px;
  flex: 1 0 0;
  color: #000;

  /* W_Tagline2 */
  font-family: Jost;
  font-size: var(--tl1);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.about-bold-orange {
  color: var(--Orange, #FF7B00);

  /* W_Tagline_Highlight */
  font-family: Fredericka the Great;
  font-size: var(--tl1);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.about-body-text {
  color: #000;

  /* W_BodyText */
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* project sectiona start here */

.projects-section {
  display: flex;
  width: 100%;
  padding-right: 8%;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.projects-header {
  flex: 1 0 0;
  color: var(--blake, #111);
  text-align: right;
  padding-right: 55px;


  /* W_H3 */
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

/* Project cards */


.projects {
  gap: 40px;
}

.project-card {
  display: flex;
  width: 100%;
  padding: 5% 8% 5% 5%;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 32px;
}

.project-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
}

.project-title {
  width: 720px;
  height: auto;
  color: var(--black, #111);
  text-align: right;
  display: flex;
  flex-direction: column;
  align-self: last baseline;

}

.project-title:hover {
  color: #FF7B00;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.project-image {
  height: 540px;
  flex: 1 0 0;
  width: 100%;
  height: 520px;
  object-fit: cover;
  align-self: last baseline;
  align-content: last baseline;
}

.project-image:hover{
  scale: 1.02;
  box-shadow: #FF7B00;
}

.project-key-feature {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: var(--Black-01, #111);
  font-family: Jost;
  font-size: var(--vt);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: flex-end;
  /* Align to bottom */
  align-items: flex-end;
}

.project-card-2 {
  display: flex;

  width: 100%;
  padding: 5% 64px 5% 10%;
  align-items: flex-start;
  gap: 32px;
}

@media (max-width: 1750px) {
  .project-card-2 {
    display: flex;
    /* flex-direction: row-reverse !important; */
    align-items: flex-start;

  }
}


.project-container-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: last baseline;

  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
}

@media (max-width: 1750px) {
  .project-container-2 {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: flex-start;
  }
}


.project-title-2 {
  width: 712px;
  color: var(--Black-01, #111);
  display: flex;
  flex-direction: column;
}

#project-title-2 {
  align-items: baseline;
  align-self: baseline;
  align-content: baseline;
}

.project-title-2:hover {
  color: #FF7B00;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* More Projects */

.more-project {
  display: flex;
  width: 100%;
  padding: 5% 64px 5% 64px;
  justify-content: center;
  align-items: center;
  gap: 48px;

  color: var(--Black-01, #111);

  /* W_Tagline2 */
  font-family: Jost;
  font-size: var(--ht);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.more-project:hover {
  color: #FF7B00 !important;
}

.horizontal-arrow {
  color: #111;
  stroke: #111;
}

.horizontal-arrow:hover {
  stroke: #FF7B00;
}

/* collaborator-section */
.collaborator-section {
  display: flex;
  width: 100%;
  padding: 5% 12% 5% 12%;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.collaborator-text {
  display: flex;
  padding: 0% 64px 2% 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  color: var(--Black-01, #111);

  /* W_H3 */
  font-family: Jost;
  font-size: var(--ht);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.collaborator-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 48px;
  align-self: stretch;
  flex-wrap: wrap;
}

/* footer section */

.footer-section {
  display: flex;
  width: 100%;
  padding: 5% 12% 2% 12% ;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  /* margin-top: 300px; */


  background: var(--black, #111);
}

.footer-heading {
  align-self: stretch;
  color: var(--White, #FFF);
  font-family: Jost;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 76.8px */
}

.footer-item-02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.footer-item-02a {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}

.footer-item-02b {
  display: flex;
  width: 600px;
  align-items: center;
  gap: 10px;
}

.body-text {

  color: var(--white, #FFF);
  font-family: Jost;
  font-size: var(--bt);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 19.2px */
}

#connect-description {
  width: 100%;
  flex-shrink: 0;
}

.footer-nav-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.footer-nav-items-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.footer-nav-items-text {
  color: var(--white, #FFF);
  text-align: right;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 28.8px */
}

.footer-email {
  display: flex;
  align-items: center;
  gap: 18px;
  align-self: stretch;
}

.footer-email-text {
  width: 480px;
  color: var(--white, #FFF);
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 28.8px */
}

.icon-size {
  width: 48px;
  height: 64px;
  align-self: center;
}

.footer-line {
  width: 100%;
  height: 1px;
  border: 0 none;
  background-color: var(--white, #FFF);

}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.footer-media {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
  color: var(--white, #FFF);
}

.footer-media-logo {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

#footer-bottom-text {
  width: 40%;

}

.footer-copyright {
  align-self: stretch;

  color: var(--White, #FFF);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 19.2px */
}

/* Background-layer */

.background-icon {
  display: flex;
  width: 500px;
  padding: 5% 12% 5% 12%;
}


/* About Page */

.hello-container {
  display: flex;
  width: 100%;
  padding: 5% 12% 3%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  fill: #FF7B00;
  /* fill-opacity: 0.1; */
}

h5 {
  color: #FF7B00;
  text-align: center;
  font-family: Jost;
  font-size: 128px;
  font-style: italic;
  font-weight: 100;
  line-height: normal;
}

.about-description {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  padding: 5% 12%;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 24px 96px;
  flex-wrap: wrap;
  margin-top: -12%;
}

.body-text-about {
  width: 609px;
  flex-shrink: 0;


  /* W_BodyText */
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-image {
  width: 463px;
  height: 411px;
  flex-shrink: 0;
}

.education-section {
  display: flex;
  width: 100%;
  padding: 5% 12%;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

h6 {
  width: 100%;

  color: #FF7B00;
  text-align: center;
  font-family: Jost;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.institute-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px 32px;
  align-self: stretch;
  flex-wrap: wrap;
}

.institute-detail {
  display: flex;
  width: 568px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.institute-degree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

h4 {
  color: var(--Black-01, #111);
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.year {
  color: var(--Black-01, #111);
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.institute-name {
  align-self: stretch;

  color: var(--Black-01, #111);
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: var(--Black-01, #111);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.experiance-section {
  display: flex;
  width: 100%;
  padding: 5% 18%;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.experiance-holder {
  display: flex;
  width: 800px;
  padding-right: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: flex-start;
}

.experinace-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}

.experiance-heading {
  align-self: stretch;

  color: var(--Black-01, #111);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


/* Achievement Section */

.achievement-container {
  display: flex;
  width: 100%;
  padding: 5% 18%;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.achievement-google {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 64px;
  align-self: stretch;
  flex-wrap: wrap;
}

.achievement-name {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

}

.google-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  flex: 1 0 0;
}

#google-map-guide {
  color: #111 !important;
}

#google-description {
  padding: 0 15%;
}

/* Interests */
.interest {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#interest-text-italic {
  color: #111;
  font-style: italic;
}

.interest-description {
  display: flex;
  width: 100%;
  padding: 5% 24%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

#interest-text-bold {
  color: #111;
  text-align: center;
  font-weight: 600;
}

#interest-text {
  color: #111;
  text-align: center;
}

.media-link {
  display: flex;
  width: 100%;
  padding: 0% 12% 5%;
  flex-direction: column;
  align-items: center;

}

.about-media-links {
  display: inline-flex;
  /* flex-direction: column; */
  align-items: center;
  align-content: center;
  gap: 32px;
}

button {
  display: flex;
  padding: 8px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  border-radius: 16px;
  border: 1px solid var(--Orange, #FF7B00);
  background: rgba(255, 123, 0, 0.10);

  color: var(--Orange, #FF7B00);
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button:hover {
  border: 2px;
}


/* Projects */
@font-face {
  font-family: 'Jost';
  src: url('./public/Jost-500-Medium.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}


 /* Text Animation */
.point-text{
  width: 100%;
  height: 100%;

}
 #hoverText {
   display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
padding-bottom: 2%;
}

@media (max-width: 768px) {
  #hoverText {
    width: 80%; 
    height: auto; 
  }
}

@media (max-width: 480px) {
  #hoverText {
    width: 100%; 
  }
}

#aboutHoverText {
  display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
 object-fit: scale-down;
 margin-top: 0%;
}

#pro-down-arrow{ 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0% 0% 0% 80%;
  margin-top: -20%;
}

#pro-down-arrow-2{ 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0% 0% 0% 80%;
  margin-top: -10%;
  rotate: 0deg;
}
.pro-b-icons{
  stroke: #111;
}
.pro-b-icons:hover{
  color: #FF7B00;
  stroke: #FF7B00;
}


#pro-hero-text{
  padding-bottom: 120px;
}

#pro-name {
  font-size: 32px;

}

.pro-section {
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 64px;
  flex-wrap: wrap;
  padding-top: 48px;
  padding-bottom: 0px;
}

.pro-holder,
.pro-holder-2 {
  display: flex;
  width: 586px;
  align-items: flex-end;
  gap: 16px;
  flex-shrink: 0;
}

.pro-tag {
  display: flex;
  padding-bottom: 88px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;
}

.pro-tag-text {
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 18px;
  color: var(--Black-01, #111);
  font-family: Jost;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.pro-image-title {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.pro-image {
  width: 580px;
  height: 440px;
  object-fit: cover;
  filter: blur(0px);
  transition: transform .3s ease, filter .5s ease;
}
.pro-image:hover {
  transform: scale(1.02); 
  filter: blur(.3px); 
  /* transition: ease-in-out .5s; */
}

.pro-detail {
  display: flex;
  width: 553px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.pro-title {
  align-self: stretch;
  color: var(--Black-01, #111);
  font-family: Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Media queries */
@media (max-width: 1200px) {
  .pro-section {
    gap: 48px;
   }
 
  .pro-holder,
  .pro-holder-2 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .pro-section {
    gap: 32px;
    padding: 24px;
  }

  .pro-holder,
  .pro-holder-2 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .pro-tag {
    align-items: center;
    text-align: center;
    align-self: flex-start;
    margin-bottom: 16px;
    padding: 0px;
  }

  .pro-image-title {
    max-width: 100%;
    align-self: center;

  }

  .pro-tag-text {
    transform: none;
  }

  .pro-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .pro-detail,
  #pro-name {
    width: 100%;
    text-align: center;
    font-size: 16pt;
  }
}

@media (min-width: 1201px) {
  .pro-section {
    justify-content: center;
    padding: 0 16px; /* Set padding on the sides of the .pro-section */
  }

  .pro-container {
    flex: 0 calc(33.333% - 32px) calc(33.333% - 32px); /* 32px is the total horizontal gap between columns */
    max-width: calc(33.333% - 32px); /* 32px is the total horizontal gap between columns */
  }
}


